<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"
      multipleSiteBindingsEnabled="true">
      <serviceActivations>
        <add relativeAddress="./WcfOrderService.svc" service="ServiceCenter.WcfService.WcfOrders.WcfOrderService"
          factory="ServiceCenter.WcfService.WcfServiceFactory" />
        <add relativeAddress="./WcfLoginService.svc" service="ServiceCenter.WcfService.WcfLogin.WcfLoginService"
         factory="ServiceCenter.WcfService.WcfServiceFactory" />
      </serviceActivations>
    </serviceHostingEnvironment>
    <services>
      <service name="ServiceCenter.WcfService.WcfOrders.WcfOrderService" behaviorConfiguration="WcfOrderServiceBehaviours">
        <endpoint address=""
                  binding="wsHttpBinding" bindingConfiguration="Service"
                  contract="ServiceCenter.BL.Common.IWcfOrderService" />
        <endpoint address="mex"
                  binding="mexHttpBinding"
                  contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost/WcfOrder/WcfOrders/" />
          </baseAddresses>
        </host>
      </service>

      <service name="ServiceCenter.WcfService.WcfLogin.WcfLoginService" behaviorConfiguration="WcfOrderServiceBehaviours">
        <endpoint address=""
                  binding="wsHttpBinding" bindingConfiguration="Service"
                  contract="ServiceCenter.BL.Common.IWcfLoginService" />
        <endpoint address="mex"
                  binding="mexHttpBinding"
                  contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost/WcfOrder/WcfLogin/" />
          </baseAddresses>
        </host>
      </service>
    </services>

    <bindings>
      <wsHttpBinding>
        <binding name="Service">
          <security mode="Message">
            <message clientCredentialType="UserName"/>
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="WcfOrderServiceBehaviours">
          <serviceDebug includeExceptionDetailInFaults="true" />
          <serviceMetadata httpGetEnabled="true" />
          <serviceCredentials>
            <serviceCertificate findValue="DESKTOP-AFMNVET" storeLocation="LocalMachine"
              storeName="My" x509FindType="FindByIssuerName" />
            <userNameAuthentication userNamePasswordValidationMode="Custom"
              customUserNamePasswordValidatorType="ServiceCenter.WcfService.Credentials.PasswordValidator, ServiceCenter.WcfService" />
          </serviceCredentials>
        </behavior>
       
      </serviceBehaviors>
    </behaviors>
    
    
  </system.serviceModel>
  
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <!--
        Для просмотра корневого каталога веб-приложения во время отладки установите значение true.
        Перед развертыванием установите значение false, чтобы избежать раскрытия сведений в папке веб-приложения.
      -->
    <directoryBrowse enabled="true" />
  </system.webServer>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>  
    <add name="ApplicationDbContext" connectionString="data source=.;initial catalog=ServiceCenterDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>